<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Node Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/facebook" class="btn btn primary"><span></span></a>
      </div>
    </div>
  </body>
</html>
